<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label"><i class="icon-2x text-dark-50 flaticon-imac mx-2"></i>EDITAR PRODUCTO: {{product_selected ? product_selected.title : ''}}</h3>
        </div>
        <div class="card-toolbar">

        </div>
    </div>
    <div class="card-body">
        <ng-container *ngIf="isLoading$ | async">
            <span class="spinner spinner-primary ml-5"></span>
        </ng-container>
        
        <div class="form-group row">
            <div class="col-6">
                <div class="form-group">
                    <label>Titulo del Producto: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Ingresar titulo" [(ngModel)]="title"
                        name="title">
                    <span class="form-text text-muted">Ingresa el nombre del producto</span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>SKU: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" [(ngModel)]="sku" name="sku">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Seleccione Categoria: <span class="text-danger">*</span></label>
                    <select class="form-control" name="categorie" [(ngModel)]="categorie">
                        <option value="">Ninguno</option>
                        <ng-container *ngFor="let c of categorias">
                            <option [value]="c._id">{{c.title}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <div class="form-group">
                    <label>PRECIO EN ARS: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" [(ngModel)]="price_ars" name="price_ars">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>PRECIO EN USD: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" [(ngModel)]="price_usd" name="price_usd">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label class="form-label">Sube la portada del producto: *</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile"
                        accept=".jpeg, .bmp, .jpg, .png, .gif, .webp" (change)="processFile($event)">
                    <label class="custom-file-label" for="customFile">Elige tu portada</label>
                </div>
            </div>
            <div class="col-4">
                <div *ngIf="imagen_previsualizacion">
                    <img [src]="imagen_previsualizacion" style="width:150px" alt="" srcset="">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6">
                <label class="form-label">RESUMEN DEL PRODUCTO: *</label>
                <textarea class="form-control" name="descriptions" [(ngModel)]="resumen" placeholder=""
                    rows="4"></textarea>
            </div>
            <div class="col-6">
                <label class="form-label">Descripción: *</label>
                <editor [(ngModel)]="description" [init]="{
                height: 250,
                menubar: true,
                language: 'es',
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount'
                ],
                toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | removeformat | help'
                }"></editor>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6 d-flex align-items-center">
                <div class="form-group">
                    <label>TAGS del producto: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" [(ngModel)]="tag" name="tag">
                </div>
                <div class="form-group ">
                    <button class="btn btn-primary mx-2" (click)="addTag()">+</button>
                </div>
            </div>
            <div class="col-6">
                <div class="table-responsive">
                    <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                        <thead>
                            <tr class="text-left">
                                <th >PALABRA</th>
                                <th >TAG</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tag of tags; let i = index">
                                <td>{{tag}}</td>
                                <td>
                                    <button class="btn btn-danger" (click)="removeTag(i)">-</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            </div>
        </div>

        <div class="form-group row">
            <button class="btn btn-primary" (click)="save()">REGISTRAR PRODUCTO</button>
        </div>

    </div>
</div>